.searchContainer input{
    width: 25%;
    height: 9vh;
    background-color: rgba(214, 209, 209, 0.863);
    top: 1cm;
    left: 3cm;
    border-top: none;
    border-right: none;
    border-bottom: none;

    
}

.searchButton{
    margin: 6% 40%;
    width: 20%;
    height: 7vh;
    border-radius: 0.5em;
}

.searchContainer{
    margin: 8% 20%;
    background-color: white;
    border-radius: 2em;
    width: 50%;
    height: 20vh;
    justify-content: center;
    opacity: 0.99;
}

.bookButton{
    width: 50%;
}


body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT263976Bat-NmQeIQu86Civ27U7FaLutPELg&usqp=CAU");
    background-repeat: no-repeat;
    background-size: 2000px 400px;
}

 .displayContainer{
    display: flexbox;
    width: 60%;
    height: 20vh;
    background-color: white;
    box-shadow: 1px 0px 2px 2px black;
    border: solid white;
    border-radius: 0.5em;
    margin: 5% 15%;
}

.displayContainer div{
    top: 0.4cm;
    /*left: 10%;
  
*/} 

.popup {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    border: black;
}

.overlay{
    position: absolute;
    margin: 15% ;
    left: 25%;
    background-color: white;
    width: 300px;
    height: 25vh;
}

.confirmButton{
    width: 50%;
    margin: 30% 20%;
}

.bookbutton{
    width: 10%;
    height: 1vh;
}

.flightName{
    width: 40%;
    margin: 5% 30%;
}

.flightName input{
  height: 50px;
}

.flightName button{
    height: 50px;
}

.seat{
    color: white;
}